<div class="page-header">
  <header class="site-header">
      <div class="nav-bar">
          <div class="container">
              <div class="row">
                  <div class="col-9 col-lg-3">
                      <div class="site-branding">
                          <h1 class="site-title"><a [routerLink]="[ '' ]" rel="home">
                                  Ebooks<span>Den</span>
                              </a></h1>
                      </div><!-- .site-branding -->
                  </div><!-- .col -->

                  <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                      <nav class="site-navigation flex justify-content-end align-items-center" [ngClass]="{ 'show': navbarOpen }">
                          <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                              <li><a routerLinkActive="active" [routerLink]="[ '']">Home</a></li>
                              <li><a routerLinkActive="active" [routerLink]="[ '/books']">Books</a></li>
                              <li><a routerLinkActive="active" [routerLink]="[ '/topics']">Categories</a></li>
                              <li><a routerLinkActive="active" [routerLink]="[ '/about']">About</a></li>
                              <li><a routerLinkActive="active" [routerLink]="[ '/contact']">Contact</a></li>
                              <li><a routerLinkActive="active" [routerLink]="[ '/dmca']">DMCA</a></li>
                          </ul>

                          <div class="hamburger-menu d-lg-none" (click)="toggleNavbar()">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                          </div><!-- .hamburger-menu -->

                          <!-- <div class="header-bar-cart">
                            <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                        </div>.header-bar-search -->
                      </nav><!-- .site-navigation -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .nav-bar -->
  </header><!-- .site-header -->

  <div class="page-header-overlay">

  </div><!-- .page-header-overlay -->
</div><!-- .page-header -->