<footer class="site-footer">
  <div class="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="foot-about">
                        <a class="foot-logo" href="#"> <h2>EbooksDen</h2></a>
                      <!-- <a class="foot-logo" href="#"><img src="./assets/images/foot-logo.png" alt=""></a> -->

                      <p>
                            Download  all eBooks in PDF,ePub format for free. Reproduction of site books is authorized only for informative purposes and strictly for personal, private use.
                     </p>

                </div><!-- .foot-about -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                  <div class="foot-contact">
                      <h2>Contact Us</h2>

                      <ul>
                          <li>Email: info.ebooksden@gmail.com</li>
                          <!-- <li>Phone: (+88) 111 555 666</li> -->
                          <li>Address: 1-64, Sriramapuram, Chittoor, AP, IN</li>
                      </ul>
                  </div><!-- .foot-contact -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                  <div class="quick-links flex flex-wrap">
                      <h2 class="w-100">Quick Links</h2>

                      <ul class="w-100">
                          <li><a [routerLink]="['/books']">Books </a></li>
                          <li><a [routerLink]="['/topics']">Categories </a></li>
                          <li><a [routerLink]="['/dmca']">Privacy Policy </a></li>
                          <li><a [routerLink]="['/about']">About Us</a></li>
                          <li><a [routerLink]="['/contact']">Contact Us</a></li>
                      </ul>

                      <!-- <ul class="w-50">
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Forums</a></li>
                          <li><a href="#">Language Packs</a></li>
                          <li><a href="#">Release Status</a></li>
                      </ul> -->
                  </div><!-- .quick-links -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                  <div class="follow-us">
                      <h2>Follow Us</h2>

                      <ul class="follow-us flex flex-wrap align-items-center">
                          <li><a href="https://www.facebook.com/ebooks.den.9"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a></li>
                          <li><a href="https://plus.google.com/u/0/103829221925378021315"><fa-icon [icon]="['fab', 'google-plus-g']"></fa-icon></a></li>
                          <li><a href="#"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon> </a></li>
                          <li><a href="https://twitter.com/DenEbooks"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
                      </ul>
                      
                  </div><!-- .quick-links -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .footer-widgets -->

  <div class="footer-bar">
      <div class="container">
          <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
              <div class="col-12 col-lg-6">
                  <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                      <!-- <a href="#"><img src="./assets/images/app-store.png" alt=""></a>
                      <a href="#"><img src="./assets/images/play-store.png" alt=""></a> -->
                      Copyright &copy; {{currentYear}} - <a [routerLink]="[ '' ]" style='color:black'>EbooksDen.com</a>
                    </div><!-- .download-apps -->

              </div>

              <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                  <div class="footer-bar-nav">
                      <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                          <li><a [routerLink]="[ '' ]">Home</a></li>
                          <li><a [routerLink]="[ '/dmca' ]">Terms of Use</a></li>
                          <li><a [routerLink]="[ '/dmca' ]">Privacy Policy</a></li>
                      </ul>
                  </div><!-- .footer-bar-nav -->
              </div><!-- .col-12 -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .footer-bar -->
</footer><!-- .site-footer -->