<body class="blog-page">
  <app-header></app-header>

  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a [routerLink]="['']"><i class="fa fa-home"></i> Home</a></li>
            <li>About</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->

    </div><!-- .row -->

    <div class="row">
      <div class="col-12 col-lg-8">
          <div class="single-blog-post">
        There is collection of eBooks on Ebooksden.com. This websites index all IT,Computers, Programming,Technology
        Biology,
        Business,
        Chemistry,
        Computers,
        Economy,
        Education,
        Mathematics,
        Medicine,
        Physics ebooks from all over the internet. This site doesn’t own any file or never hosted any book on its
        server. Ebooksden.com is just an Index of books available in online.

        Download All related eBooks in PDF,Epub format for free. Reproduction of site books is authorized only for
        informative purposes and strictly for personal, private use.
        </div>
      </div><!-- .col -->
      <div class="col-12 col-lg-4">
        <app-sidebar></app-sidebar>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
  <app-footer></app-footer>
</body>