.search-widget input[type="search"] {
    /* width: calc(100% - 48px);
    height: 48px;
    padding: 10px 20px;
    border: 1px solid darkgreen;
    font-size: 14px;
    background: #f7f7f7;
    color: #383749;
    outline: none; */
    width: calc(100% - 48px);
    padding: 10px 20px;
    font-size: 14px;
    height: 48px;
    background: #fff;
    display: flex;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

