.social{
    margin-top: 40px;
}
.ads{
        background-color:aliceblue;
        margin: 1px;
        text-align: center;
        border-radius: 4px;
        height: 80%;
}
.social_bg{
    /* background-color: orange; */
}

.course-content a {
    color:black !important
}