<body class="blog-page">
  <app-header></app-header>

  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a [routerLink]="['']"><i class="fa fa-home"></i> Home</a></li>
            <li>categories</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->

    </div><!-- .row -->

    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="container topic">
          <div class="row">
            <div *ngFor="let c of topics; let i=index" class="col-12 col-md-6 card" >
                <a [routerLink]="['/topics',c]">
               <div class="card-body">
                 {{c}}
              </div></a>
            </div>
          </div>
        </div>
      </div><!-- .col -->
      <div class="col-12 col-lg-4">
        <app-sidebar></app-sidebar>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
  <app-footer></app-footer>
</body>