<div class="sidebar">
    <app-subscribe></app-subscribe>
    <div class="cat-links">
        <h2><b class='title'>Categories</b></h2>

        <ul class="p-0 m-0">
            <li *ngFor="let topic of topics">
                <a [routerLink]="['/topics',topic]">{{topic}}</a>
            </li>
        </ul>
    </div><!-- .cat-links -->

    <div class="ads">
        <div class="alignleft">
            <script type="text/javascript">
                amzn_assoc_ad_type = "banner";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_placement = "assoc_banner_placement_default";
                amzn_assoc_banner_type = "ez";
                amzn_assoc_p = "9";
                amzn_assoc_width = "180";
                amzn_assoc_height = "150";
                amzn_assoc_tracking_id = "ebooksden-20";
                amzn_assoc_linkid = "44ce688d692a24c185ee128607276961";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
        </div>
    </div><!-- .ads -->

    <div class="popular-tags">
        <h2><b class="title">Popular Tags</b></h2>
        <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li *ngFor="let tag of tags"> <a [routerLink]="['/topics',tag]">{{tag}}</a></li>

        </ul>
    </div><!-- .popular-tags -->
</div><!-- .sidebar -->