<body class="blog-page">
  <app-header></app-header>

  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a [routerLink]="['']"><i class="fa fa-home"></i> Home</a></li>
            <li>DMCA</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->

    </div><!-- .row -->

    <div class="row">
      <div class="col-12 col-lg-8">
          <div class="single-blog-post">
        <div class="td-ss-main-content">
          <div class="td-page-content">
            <h3 style="text-align: center;">DMCA Policy</h3>
            <p style="text-align: center;">(Effective since&nbsp;2018.12.25)</p>
            <p><strong>Attention Please:</strong></p>
            <ol>
              <li>First of all,&nbsp;<strong>linking to infringing content is not illegal</strong>. The law is
                currently
                unsettled with regard to websites that contain links to infringing material.
                <ul>
                  <li><a href="http://www.dmlp.org/legal-guide/linking-copyrighted-materials" target="_blank" rel="noopener">http://www.dmlp.org/legal-guide/linking-copyrighted-materials</a></li>
                </ul>
              </li>
              <li>At present, EbooksDen.com is still in compliance with 17 U.S.C. § 512 and the Digital Millennium
                Copyright
                Act (DMCA). It is our policy to respond to any infringement notices and take appropriate actions under
                the DMCA
                and other applicable intellectual property laws.</li>
              <li>This site (EbooksDen.com)&nbsp;<strong>does not host/store any illegal files</strong>&nbsp;on our
                servers at
                all. We only index or link the content provided by our users or other websites. In other words,
                none&nbsp;of
                these files are allowed to be uploaded, hosted or transmitted by our servers. And, all content we have
                and
                provide is just&nbsp;<strong>articles</strong>&nbsp;consisting of “<strong>text</strong>,&nbsp;<strong>image</strong>&nbsp;and&nbsp;<strong>links</strong>”&nbsp;(a
                bit like Google search indexes), which are provided solely by our users. They create these articles
                based on
                the resources on the Internet (like: blogs/forums) and then post them here in order to share what they
                consider
                to be valuable.</li>
              <li>All trademarks, videos, trade names, service marks, copyrighted works, and commercial logos
                referenced here
                belong to their respective owners/companies. EbooksDen.com is not responsible for what users upload to
                3rd
                party websites (except they are hosted on our servers).</li>
              <li>We urge all copyright owners to recognize that: As a matter of fact, all file links contained in
                EbooksDen.com’s articles are from other websites (i.e.: they are located somewhere else on the
                Internet, not
                in EbooksDen.com). If you have any legal issues please contact the corresponding appropriate media file
                owners/hosters, not us. Therefore, if you are an individual developer, and you think your files/works
                are
                shared by someone of our users, you should find the actual links to them in the article, then send
                report or
                DMCA notice to their hosts providers which are storing your copyrighted materials, rather than our host
                provider showing the articles containing these links. Instead, sending it to us won’t solve the problem
                fundamentally. Because even if we try to remove all the posts and links, and even ban these users, they
                could
                always register a new account on our website and share these links again. Or, we can say, removing the
                text
                links and pages on EbooksDen.com does not help you a lot, because there are lots of cached pages on the
                Internet which can be accessed by any users searching them.</li>
              <li>For the hosts storing your copyrighted works/products, we do not have access to these free file
                hosts. Hence,
                we can’t help you remove those shared files, you have to contact these file hosts owners to carry on
                negotiations.&nbsp;Thank you for understanding.</li>
              <li>Eventually, if you mistakenly send your copyright complaints to our host provider rather than the
                ones
                hosting your copyrighted files, and bring loss to our website because of our host provider being
                misguided by
                you, we will investigate and affix your legal liability. At the same time, we will keep the right to
                continue
                to hold relevant articles for a long time, even permanent.</li>
            </ol>
            <p>Still, if you think your copyrighted material is being illegally linked or used on our blog (not the
              forum), and
              you want&nbsp;them&nbsp;removed, then&nbsp;you could report the exact/direct article link by contacting
              us at <a href="mailto:contact@EbooksDen.com">contact@EbooksDen.com</a>.</p>
            <p>If this claim has been deemed acceptable and valid, the articles or links concerned will be removed as
              soon as
              possible.&nbsp;Please remember that&nbsp;<strong>we do not reply emails to and we do not accept reports
                from the
                third-party DMCA agents (Copyright Trolls) or groups</strong>, only the actual individual copyright
              owner
              should send us the report. And note that:&nbsp;you must provide a written communication that details the
              information listed in the following sections.</p>
            <p><strong>The following elements must be included in your copyright infringement claim</strong>:</p>
            <table>
              <tbody>
                <tr>
                  <td><strong>Item</strong></td>
                  <td><strong>Instruction</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Provide evidence of that you are the only owner of an exclusive right that is allegedly
                    infringed.</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Provide sufficient contact information so that we may contact you. You must also use a valid
                    email
                    address from actual developer site.</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>You must identify in sufficient detail the copyrighted work claimed to have been infringed and
                    including
                    is hosted or currently have working downloadable link.</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>A statement that the complaining party has a good faith belief that use of the material in the
                    manner
                    complained of is not authorized by the copyright owner, or the law.</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>A statement that the information in the notification is accurate, and under penalty of perjury,
                    that the
                    complaining party is the owner of an exclusive right that is allegedly infringed.</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Must be signed by the owner of an exclusive right that is allegedly being infringed.</td>
                </tr>
              </tbody>
            </table>
            <h3><strong>Notes:</strong></h3>
            <ul>
              <li>Please allow 1~5 business/working days for an email response.&nbsp;Finally, we will send the result
                of
                handling to you in the form of email.</li>
              <li>Most of the times, after removing the post or link, we will reply you with an email to report the
                action
                result, and make a determination of the results.</li>
              <li>If the links were still there, then you should know that you didn’t send a valid report. So, please
                read this
                page again and send a valid report.</li>
              <li>Note that emailing your complaints to other parties such as our domain admin/Internet Service
                Provider/ host
                service provider will not expedite your request and may&nbsp;result in a delayed review due to the
                complaint
                not properly being filed.&nbsp;<strong>Because, at last, they always just forward your complaint email
                  to us to
                  deal with it</strong>. Domain register or host provider has no responsibility and obligation to deal
                with
                this kind of things</li>
              <li>Please don’t try threatening&nbsp; us with possible charges or whatever your country rule
                is.&nbsp;You should
                understand that Internet is not under control of any government, most of these emails directly go to
                spam box,
                we are here to help you to fix the problem.</li>
              <li>Please do not report old posts with dead links, it’s useless and we can do nothing to the links not
                exist
                really, removing them is just a waste of time.</li>
              <li>We can’t remove our web links and posts from search engines, you should know this basic common sense.</li>
            </ul>
            <h2>Warning:</h2>
            <ul>
              <li><strong>PLEASE REMEMBER THAT IF YOU CHOOSE TO MISREPRESENT ANY OF THE DETAILS REGARDING AN ALLEGED
                  COPYRIGHT
                  INFRINGEMENT, YOU WILL BE SUBJECT TO SERIOUS CIVIL PENALTIES UNDER FEDERAL LAW, INCLUDING ANY
                  MONETARY
                  DAMAGES, COURT COSTS AND LAWYERS FEES ACCRUED BY US, AND ANY COPYRIGHT HOLDERS OR COPYRIGHT HOLDER’S
                  LICENSEES WHO ARE INJURED IN ANY CAPACITY FOLLOWING OUR RELIANCE ON THE VERACITY OF YOUR
                  REPRESENTATION. YOU
                  COULD ALSO BE CRIMINALLY PROSECUTED FOR ACTS OF PERJURY.</strong></li>
              <li>Do not take anything outlined in this document as formal legal advice. For further information on the
                details
                required to lodge a formal DMCA notification, please refer to 17 U.S.C. 512(c)(3).</li>
              <li>Please be aware that, you will be liable for damages (including costs and attorneys’ fees), if you
                make&nbsp;subreption that the information listed on our site is infringing your copyrights. We suggest
                that you
                first contact an attorney for legal assistance on this matter.</li>
            </ul>

          </div>


        </div>
        </div>
      </div><!-- .col -->
      <div class="col-12 col-lg-4">
        <app-sidebar></app-sidebar>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
  <app-footer></app-footer>
</body>